[submodule "Semester-2-Training/Projects"]
	path = Semester-2-Training/Projects
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Trainging/Week2"]
	path = Semester-2-Trainging/Week2
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Training/Week2"]
	path = Semester-2-Training/Week2
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Training/Week1"]
	path = Semester-2-Training/Week1
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Week2"]
	path = Week2
	url = https://github.com/BoCunn/Manual-Signal-Processing
[submodule "Week1"]
	path = Week1
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Week3"]
	path = Week3
	url = https://github.com/BoCunn/Normalization-Classification
[submodule "Week4"]
	path = Week4
	url = https://github.com/BoCunn/Feature-Engineering
[submodule "Week5"]
	path = Week5
	url = https://github.com/BoCunn/Classifier-Comparison
[submodule "Week6"]
	path = Week6
	url = https://github.com/BoCunn/Evaluation-Metrics
[submodule "Week7"]
	path = Week7
	url = https://github.com/BoCunn/Feature-Selection
[submodule "Week8"]
	path = Week8
	url = https://github.com/BoCunn/Reproducibility
[submodule "Week9"]
	path = Week9
	url = https://github.com/BoCunn/Baseline-Paper-Replication
[submodule "Week10"]
	path = Week10
	url = https://github.com/BoCunn/Controlled-Ablation-Study
[submodule "Week11"]
	path = Week11
	url = https://github.com/BoCunn/Negative-Results
