[submodule "Semester-2-Training/Projects"]
	path = Semester-2-Training/Projects
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Trainging/Week2"]
	path = Semester-2-Trainging/Week2
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Training/Week2"]
	path = Semester-2-Training/Week2
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Semester-2-Training/Week1"]
	path = Semester-2-Training/Week1
	url = https://github.com/BoCunn/DataManipulationTest
[submodule "Week2"]
	path = Week2
	url = https://github.com/BoCunn/Manual-Signal-Processing
[submodule "Week1"]
	path = Week1
	url = https://github.com/BoCunn/DataManipulationTest
